<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verification</title>
</head>
<body>
    <h2 style="color: red;">{{ error }}</h2>
    <form method="POST">
        <label for="password" style="display:inline-block;font-size:36px;">Enter your passcode:</label>
        <input type="password" id="password" name="password" pattern="[0-9]*" inputmode="numeric" style="width:300px;height:48px;font-size:36px;">
        <input type="submit" value="Submit" style="font-size: 36px; padding: 10px;">
    </form>
</body>
</html>